body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.notification {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.notification p {
    margin: 0;
}